{% extends 'base.html.twig' %}

{% block body %}
    <h1>Module creation</h1>

    {{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2">
            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.numero) }}
                    {{ form_widget(form.numero) }}
                    {{ form_errors(form.numero) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                    {{ form_errors(form.nom) }}
                </div>
            </div>
        </div>
    </div>
</div>
        <input class="btn btn-default edit_admin" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('module_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
